{% extends 'base_template.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

	<!-- ============================ REGISTER COMPONENT ============================ -->
	<div class="card mx-auto" style="max-width:520px; margin-top:40px;">
		<article class="card-body">

			<header class="mb-4">
				<h4 class="card-title">Sign up</h4>
			</header>

			<form method="post">
				{% csrf_token %}

				<div class="form-row">
					<div class="col form-group">
						<label>First name</label>
						<input type="text" name="first_name" class="form-control">
					</div>

					<div class="col form-group">
						<label>Last name</label>
						<input type="text" name="last_name" class="form-control">
					</div>
					<div class="col form-group">
						<label>Username</label>
						<input type="text" name="username" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<label>Email</label>
					<input type="email" name="email" class="form-control">
					<small class="form-text text-muted">
						We'll never share your email with anyone else.
					</small>
				</div>

				<div class="form-group">
					<label class="custom-control custom-radio custom-control-inline">
						<input class="custom-control-input" type="radio" value="M" name="gender" checked>
						<span class="custom-control-label">Male</span>
					</label>

					<label class="custom-control custom-radio custom-control-inline">
						<input class="custom-control-input" type="radio" value="F" name="gender">
						<span class="custom-control-label">Female</span>
					</label>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label>City</label>
						<input type="text" name="city" class="form-control">
					</div>

					<div class="form-group col-md-6">
						<label>Country</label>
						<select class="form-control" name="country">
							<option>India</option>
							<option>Afghanistan</option>
							<option>Uzbekistan</option>
							<option>Russia</option>
							<option selected>United States</option>

							
							
						</select>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label>Create password</label>
						<input type="password" name="password" class="form-control">
					</div>

					<div class="form-group col-md-6">
						<label>Repeat password</label>
						<input type="password" name="confirm_password" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">
						Register
					</button>
				</div>

			</form>

		</article>
	</div>

	<p class="text-center mt-4">
		Have an account?
		<a href="/signin">Log in</a>
	</p>

	<br><br>
	<!-- ============================ REGISTER COMPONENT END ============================ -->

</section>
<!-- ========================= SECTION CONTENT END ========================= -->

{% endblock %}
