{% extends 'base_template.html' %}
{% block content %}
{% if messages %}
<div class="container mt-3">
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
</div>
{% endif %}

<section class="section-content padding-y">
<div class="container">

<h3>Owner Admin – Products Categories</h3>


<table class="table table-bordered">
<tr>
    <th>Category</th>
    <th>Description</th>
    <th>Actions</th>
</tr>


{% for category in Categorys %}
<tr>
    <td>{{ category.name }}</td>
    <td>{{ category.description }}</td>
    <td>
        <a href="{% url 'edit_category' category.id %}" class="btn btn-sm btn-warning">Edit</a>
        <a href="{% url 'delete_category' category.id %}" class="btn btn-sm btn-danger">Delete</a>
    </td>
</tr>

{% endfor %}
<tr>
    <td colspan="3">
        <a href="{% url 'add_category' %}" class="btn btn-primary mb-3">Add Category</a>
    </td>
<tr>
</table>
<table class="table table-bordered">
<tr>
    <th>Name</th>
    <th>Price</th>
    <th>Stock</th>
    <th>Actions</th>
</tr>
<h3>Products List</h3>
{% for product in products %}
<tr>
    <td>{{ product.product_name }}</td>
    <td>₹{{ product.price }}</td>
    <td>{{ product.stock }}</td>
    <td>
        <a href="{% url 'edit_product' product.id %}" class="btn btn-sm btn-warning">Edit</a>
        <a href="{% url 'delete_product' product.id %}" class="btn btn-sm btn-danger">Delete</a>
    </td>
</tr>
{% endfor %}
<tr>
    <td colspan="4">
        <a href="{% url 'add_product' %}" class="btn btn-primary mb-3">Add Product</a>
    </td>
</tr>
</table>

<table class="table table-bordered">
<tr>
    <th>product name</th>
    <th>Category</th>
    <th>colour</th>
    <th>size
    <th>Actions</th>
</tr>

<h3>Products variant</h3>

{% for variant in Variants %}
<tr>
    <td>{{ variant.product.product_name }}</td>
    <td>{{ variant.product.category }}</td>
    <td>{{ variant.variant_value }}</td>
    <td>{{ variant.variant_value }}</td>
    <td>
        <a href="" class="btn btn-sm btn-warning">Edit</a>
        <a href="" class="btn btn-sm btn-danger">Delete</a>
    </td>
</tr>

{% endfor %}
<tr>
    <td colspan="3">
        <a href="{% url 'add_variant' %}" class="btn btn-primary mb-3">Add Variant</a>
    </td>
<tr>
</table>
</div>
</section>

{% endblock %}
